<?xml version="1.0" encoding="utf-8"?>
<package id="c3e8d006-a727-448d-99af-878a3a536c03" type="Service Proxies Package" typeId="46ef9b5e-e38c-48f2-8516-ea48c310ce23">
  <name>ServiceProxies</name>
  <externalReference>9b948266-a9c7-4a77-8aaa-db0b8be2be1d</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>